# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
dist/
build/

# Virtual environment directories
venv/
env/
ENV/
.venv/
.virtualenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
.coverage
.coverage.*
*.cover
*.py,cover
*.nox/
noxfile.py

# pyenv
.python-version

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.log
*.pot
*.mo

# OS-specific
.DS_Store
Thumbs.db
